<div class="full-width full-height background" ng-class="sounds[soundIdx].id" ng-swipe-left="previous()" ng-swipe-right="next()" ng-cloak>
    <div class="full overlay" style="height:376px">
        <div style="height:59px">
            <h1 class="text-center fading" ng-hide="soundChanging">
                {{sounds[soundIdx].title}}
            </h1>
        </div>
        <hr />
        <h1 class="text-center fading" ng-hide="soundChanging">
            <a ng-show="!sounds[soundIdx].playing && !sounds[soundIdx].working" ng-click="play(soundIdx)">
                <i class="fa fa-play"></i>
            </a>
            <a ng-show="sounds[soundIdx].working">
                <i class="fa fa-spinner fa-spin"></i>
            </a>
            <a ng-show="sounds[soundIdx].playing && !sounds[soundIdx].working" ng-click="pause(soundIdx)">
                <i class="fa fa-pause"></i>
            </a>
        </h1>
        <h3 class="text-center fading" ng-hide="quoteChanging">
            {{quotes[quoteIdx].text}}
        </h3>
        <h4 class="text-center fading" ng-hide="quoteChanging">
            {{quotes[quoteIdx].from}}
        </h4>
    </div>
</div>
<div class="footer text-right">
    <h2>
        <a href="http://www.facebook.com/sharer.php?u=http://itunes.com/apps/tranquilify"
           target="_blank">
           <!--ng-click="link('http://www.facebook.com/sharer.php?u=http://itunes.com/apps/tranquilify')">-->
            <i class="fa fa-facebook"></i>
        </a>
        <a ng-click="link('http://www.twitter.com/home?status=http://itunes.com/apps/tranquilify')">
            <i class="fa fa-twitter"></i>
        </a>
        <a ng-click="link('https://plus.google.com/share?url=http://itunes.com/apps/tranquilify')">
            <i class="fa fa-google-plus"></i>
        </a>
    </h2>
</div>