<div class="full-width full-height background" ng-class="sounds[soundIdx].id">
    <div class="full overlay" style="height:376px">
        <div style="height:59px">
            <h1 class="text-center fading" ng-hide="soundChanging">
                <a ng-click="next()">
                    {{sounds[soundIdx].title}}
                </a>
            </h1>
        </div>
        <hr />
        <h1 class="text-center fading">
            <a ng-show="!playing && !working" ng-click="play(sounds[soundIdx].id)">
                <i class="fa fa-play"></i>
            </a>
            <a ng-show="working">
                <i class="fa fa-spinner fa-spin"></i>
            </a>
            <a ng-show="playing && !working" ng-click="pause(sounds[soundIdx].id)">
                <i class="fa fa-pause"></i>
            </a>
        </h1>
        <h3 class="text-center fading" ng-hide="quoteChanging">
            {{quotes[quoteIdx].text}}
        </h3>
        <h4 class="text-center fading" ng-hide="quoteChanging">
            {{quotes[quoteIdx].from}}
        </h4>
    </div>
</div>
<div class="footer text-right">
    <h2>
        <a>
            <i class="fa fa-facebook"></i>
        </a>
        <a>
            <i class="fa fa-twitter"></i>
        </a>
        <a>
            <i class="fa fa-google-plus"></i>
        </a>
        <a>
            <i class="fa fa-pinterest"></i>
        </a>
        <a>
            <i class="fa fa-tumblr"></i>
        </a>
    </h2>
</div>