.fading {
    -webkit-transform: translate3d(0px,0px,0px);
    -webkit-transition:all linear 1.0s;
    opacity:1;
}

.fading.ng-hide {
    opacity:0;
}

.fading.ng-hide-add,
.fading.ng-hide-remove {
    display:block!important;
}
