html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../img/shore.jpg');
}

div.full-width {
    width: 100%;
}

div.full-height {
    height: 100%;
}

div.background {
    background-size: cover;
    padding: 22px;
    padding-top: 44px;

    -webkit-transition: background-image 0.5s ease-in-out;
}

div.fire {
    background-image: url('../img/fire.jpg');
}

div.stream {
    background-image: url('../img/stream.jpg');
}

div.storm {
    background-image: url('../img/storm.jpg');
}

div.birdsong {
    background-image: url('../img/birdsong.jpg');
}

div.crickets {
    background-image: url('../img/crickets.jpg');
}

div.shore {
    background-image: url('../img/shore.jpg');
}

div.overlay {
    border-radius: 11px;
    background-color: #ffffff;
    opacity: 0.7;
    padding-bottom: 44px;
}

h1, h2, h3 {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: lighter;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

div.footer {
    height: 66px;
    margin-top: -66px;
    padding-right: 10px;
    padding-left: 22px;
    opacity: 0.7;
    color: #ffffff;
}

.fading {
    -webkit-transition:all linear 1.0s;
    opacity:1;
}

.fading.ng-hide {
    opacity:0;
}

.fading.ng-hide-add,
.fading.ng-hide-remove {
    display:block!important;
}

#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}